<div class="container">
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li class="footer-nav__item"><a class="footer-nav__link" href=".">ホーム</a></li>
      <li class="footer-nav__item"><a class="footer-nav__link" href="message.html">メッセージ</a></li>
      <li class="footer-nav__item"><a class="footer-nav__link" href="company.html">会社概要</a></li>
    </ul>
  </nav>
  <div class="footer__copyright"><a class="footer__copyright_link" href="https://webdesigner-go.com/start/message.html">&copy;START</a></div>
  <div class="footer__copyright">参考：<a class="footer__copyright_link" href="https://webdesigner-go.com/coding-practice/">『無料コーディング練習所』</a></div>
</div>